#content-date {
	display: block;
}

#content-categories {
	margin-top: 6px;
}

.content-category {
	background-color: #2a2a2a;
	color: #eaeaea;
	margin-right: 5px;
	padding: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
