{% include copyright.html %}

<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }} - {{ site.title }}</title>
  <link href="/public/css/main.css" rel="stylesheet">
  <link rel="icon" href="/public/image/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
</head>

<body>
  {% include header.html %}

  <main>
    {% include aside.html %}

    <article>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </article>
  </main>

  {% include footer.html %}
</body>

</html>